*{
    margin: 0;
    padding: 0;
}
.card-container{
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,2fr));
    column-gap: 2em;
    row-gap: 2em;
}

.card{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 25em;
    height: 10em;
    padding: 4em;
    align-items: center;
    justify-content: center;
}

