*{
    margin: 0;
    padding: 0;
}
body{
    position:relative;
    background-color:#ffc300;
}

#add{
    margin-top: 2em;
}

#add {
    width: 12em;
    height: 4em;
    border-radius: 2em;
    background-color: #ffdd00;
    border: 2px solid #ffdd00;;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6em;
    padding-bottom: 2em;
    border: 2px solid #ff7b00;
}
.card-container{
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,2fr));
    column-gap: 2em;
    row-gap: 2em;
    
}

.card{
    display: flex;
    gap: 4em;
    border: 2px solid #ff8800;
    width: 15em;
    height: 10em;
    padding: 4em;
    align-items: center;
    justify-content: space-between;
    background-color:#ffd000;
    
}
dialog{
    height: 20em;
    width: 40em;
    position:fixed;
    left:60em;
    top:30%
}

