*{
    margin: 0;
    padding: 0;
}
body{
    position:relative;
    background-color:#CCD5AE;
}

#add{
    margin-top: 2em;
}

#add {
    width: 12em;
    height: 4em;
    border-radius: 2em;
    background-color: #ffdd00;
    border: 2px solid #ffdd00;;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6em;
    padding-bottom: 2em;
    border: 2px solid #ff7b00;
}
.card-container{
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,2fr));
    column-gap: 2em;
    row-gap: 2em;
    
}

.card{
    display: flex;
  
    border: 2px solid #ff8800;
    width: 20em;
    height: 16em;
    /* padding: 4em; */
    align-items: flex-start;
    justify-content: space-evenly;
    background-color:#E9EDC9;
    flex-direction: column;
  
    
    
}

.inputtext{
    display: flex;
    gap: 1em;
}

.card > .card-body{
    /* margin-left: 112px; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 10px;
}
 #title{
    text-align: center;
    border-bottom: 1px solid gray;
    width: inherit;
}
.card-button > button{
   
    width: 10em;
    height: 2em;
    border-radius: 1em;
   
}
dialog{
    height: 8em;
    width: 30em;
    position:fixed;
    left:60em;
    top:30%;
    padding: 2em;
   
   background-color:#FEFAE0;
}
#book-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.form-element{
    display: flex;
    gap: 12px;
}


.button-class{
    justify-content: center;
    margin-top: 1em;
}
input[type='text'],input[type='number']{
    width: 20em;
    height: 1.5em;
    border-radius: 1em;
    border: none;
}
::placeholder{
    text-align: center;
}
.button-class > *{
    width: 20em;
    height: 3em;
    border-radius: 4em;
    background-color: #FAEDCD;
}
.button-class > button:hover{
    background-color: #D4A373;
}

input:focus{
    outline: none;
    border: 1px solid lightsalmon;
}